* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(243, 243, 243);
}

/* ------------------ Header e logo ------------------ */
header {
    background-color: white;
    height: auto;
    width: auto;
    position: relative;
}
#immaginelogo {
    margin: 10px 20px;
}
#scrittalogo {
    font-size: 45px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 10px;
}

/* ------------------ To-do list ------------------ */
.container {
    background-color: rgb(243, 243, 243);
    height: 60vh;
    width: 50vw;
    margin: 10vh auto;
    position: relative;
}
/* Toolbar ------------------ */
button {
    border-radius:10%;
    padding: 6px 10px;
    
}
.toolbar {
    background-color: white;
    height: 5vh;
    width: 50vw;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    
}
.task {
    background-color: rgb(86, 166, 236);
    color: white;
    border: rgb(86, 166, 236) solid thin;
    position: absolute;
    top: 30%;
    left: 8%;
}
.section {
    background-color: white;
    color: rgb(189, 189, 189);
    border: rgb(189, 189, 189) solid thin;
    position: absolute;
    top: 30%;
    left: 15%;
}
/* List ------------------ */
.check::before {
    content: "☑";
    color: lightgreen;
}
.cross::before {
    content: "☒";
    color: red
}
.check, .cross {
    display: inline-block
}
.item   {
    font-size: 20px;
    color: rgb(80, 80, 80);
}
.list {
    background-color: white;
    height: 55vh;
    width: 50vw;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 9%;

}
.listtext {
    position: absolute;
    top: 5%;
    left: 8%;
}
.curtain {
    font-size: 30px;
    font-weight: bold;
    color: rgb(60, 60, 60);
    margin-top: 15%;
}
/* Tags ------------------ */
.tag {
    padding: 4px 8px;
    border-radius: 10%;
    color: white;
    font-size: 15px;
    position: relative;
    left: 1%;
}
.editorial {
    background-color: rgb(86, 166, 236);
}
.goals {
    background-color: fuchsia;
}
.recruiting {
    background-color: rgb(15, 100, 79);
}
.mobile {
    background-color: orange;
}
.sales {
    background-color: greenyellow;
}
.website {
    background-color: rebeccapurple;
}